<h1><%= @list.name %> </h1> <%= link_to '+ Add movie', new_list_bookmark_path(@list) %>

  <% @list.movies.each do |movie| %>
    <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
    <div class="card-trip">
      <img src="https://image.tmdb.org/t/p/w500/<%= movie.poster_url.split('/').last %>">
      <div class="card-trip-infos">
        <div>
          <h2><%= movie.title %> <span><%= movie.rating %></span></h2>
          <p><%= movie.overview %></p>
        </div>
        <%= link_to 'Delete', bookmark_path(bookmark), class: 'btn btn-danger', method: :delete %>
      </div>
    </div>
    <% end %>

<%= link_to 'Back', lists_path, class: 'btn btn-primary' %>
