<h1><%= @list.name %> </h1>

<%= link_to 'Add a new movie', new_list_bookmark_path(@list), class: 'btn btn-primary' %>

<ul>
  <% @list.movies.each do |movie| %>
    <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
    <li><%= movie.poster_url %> </li>
    <li><%= movie.title %> </li>
    <li><%= movie.rating %> </li>
    <li><%= movie.overview %> </li>
    <%= link_to 'Delete', bookmark_path(bookmark), class: 'btn btn-primary', method: :delete %>
  <% end %>
</ul>
